numpy>=1.24,<1.25
scipy>=1.10,<1.11
matplotlib>=3.7,<3.8
tqdm>=4.66,<5
tensorboard>=2.12,<2.16
Pillow>=10,<11
h5py>=3.10,<3.11
opencv-python>=4.7,<4.13
labelme==3.16.7
pandas
torch 
torchvision
scikit-learn
pyside6
