absl-py
cachetools
certifi
charset-normalizer
contourpy
cycler
filelock
fonttools
fsspec
google-auth
google-auth-oauthlib
grpcio
h5py
idna
importlib-metadata
importlib-resources
jinja2
joblib
kiwisolver
markdown
markupsafe
matplotlib
mpmath
networkx
numpy<2.0
oauthlib
opencv-python
packaging
pillow
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
pyyaml
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
sympy
tensorboard
tensorboard-data-server
termcolor
threadpoolctl
tqdm
typing-extensions
tzdata
urllib3
werkzeug
zipp